.cont{
    width: 30vw;
    margin:15vmin auto; 
    border-radius: 10px;
    padding: 2vmin 3vmin;
}

.in{
    width: 20%;
}

.img{
    width:160%;
    margin-left: 16vmin;
}

#name{
    border-color: darkgray; 
    padding: 1.5vmin 2vmin;
}

#btn1{
    width: 100%; 
    background-color: #3b7bbf; 
    padding: 1.5vmin 2vmin;
}

#btn2{
    width: 100%; 
    background-color:lightgrey; 
    padding: 1.5vmin 2vmin;
}

.p{
    text-align: center;
    margin: 2vmin 0;
}
/*media queries for login*/
@media(max-width: 480px){
 .cont{
    width: 100vw;
    margin:15vmin auto; 
    border-radius: 10px;
    padding: 2vmin 5vmin;
}
    
    .in{
    width: 20%;
}
    
    .img{
    width:160%;
    margin-left: 30vmin;
}
    
    #name{
    border-color: darkgray; 
    padding: 2vmin 2.5vmin;
}
    
    #btn1{
    width: 100%; 
    background-color: #3b7bbf; 
    padding: 2vmin 2.5vmin;
}

#btn2{
    width: 100%; 
    background-color:lightgrey; 
    padding: 2vmin 2.5vmin;
}
    
    .p{
    text-align: center;
    margin: 2vmin 0;
}
}

@media(min-width:480px) and (max-width:768px){
     .cont{
    width: 70vw;
    margin:15vmin auto; 
    border-radius: 10px;
    padding: 2vmin 5vmin;
}
    
    .in{
    width: 20%;
}
    
    .img{
    width:170%;
    margin-left: 20vmin;
}
    
    #name{
    border-color: darkgray; 
    padding: 2vmin 2.5vmin;
}
    
    #btn1{
    width: 100%; 
    background-color: #3b7bbf; 
    padding: 2vmin 2.5vmin;
}

#btn2{
    width: 100%; 
    background-color:lightgrey; 
    padding: 2vmin 2.5vmin;
}
    
    .p{
    text-align: center;
    margin: 2vmin 0;
}
 
}

@media(min-width:768px) and (max-width:992px){
  .cont{
    width: 50vw;
    margin:15vmin auto; 
    border-radius: 10px;
    padding: 2vmin 5vmin;
}
    
    .in{
    width: 20%;
}
    
    .img{
    width:170%;
    margin-left: 22vmin;
}
    
    #name{
    border-color: darkgray; 
    padding: 2vmin 2.5vmin;
}
    
    #btn1{
    width: 100%; 
    background-color: #3b7bbf; 
    padding: 2vmin 2.5vmin;
}

#btn2{
    width: 100%; 
    background-color:lightgrey; 
    padding: 2vmin 2.5vmin;
}
    
    .p{
    text-align: center;
    margin: 2vmin 0;
}
}

@media(min-width:992px) and (max-width:1200px){
      .cont{
    width: 40vw;
    margin:15vmin auto; 
    border-radius: 10px;
    padding: 2vmin 5vmin;
}
    
    .in{
    width: 20%;
}
    
    .img{
    width:170%;
    margin-left: 18vmin;
}
    
    #name{
    border-color: darkgray; 
    padding: 2vmin 2.5vmin;
}
    
    #btn1{
    width: 100%; 
    background-color: #3b7bbf; 
    padding: 2vmin 2.5vmin;
}

#btn2{
    width: 100%; 
    background-color:lightgrey; 
    padding: 2vmin 2.5vmin;
}
    
    .p{
    text-align: center;
    margin: 2vmin 0;
}
}

